* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px dashed #000;
}

body, html{
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -100px 30px;
	position: relative;
}


.video {
	width: 640px;
	height: 360px;
	float: left;
}

.post {
	min-width: 100%;
}


footer {
	position: relative;
	background: #0f0;
    height: 100px;
}

.logo {
	text-align: right;
}