* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px dashed #000;
}

.wrap {
	width: 1080px;

}


.video {
	width: 800px;
	height: 450px;
	float: left;
}



footer {
	position: absolute;
	bottom: 10px;
	height: 100px;

}

.logo {
	text-align: right;
}